#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CFLAGS="$(CFLAGS)" CPPFLAGS="$(CPPFLAGS)" LDFLAGS="$(LDFLAGS)"

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

override_dh_shlibdeps:
ifeq ($(DEB_HOST_ARCH),arm64)
	dh_shlibdeps -l/usr/aarch64-linux-gnu/lib -l/usr/lib/aarch64-linux-gnu
else
	dh_shlibdeps
endif
